body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover {
  margin-bottom: 5px;
}

.hover:hover {
  cursor: pointer;
  transform: translateY(-2px) scale(1.005) translateZ(0);
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.11), 0 14px 26px;
}